<div class="container">
	<div class="footer-nav">
		<ul>
			<li>
				<a href="/">
					TODO: Footer navigation
				</a>
			</li>
			<div class="clearfix"> </div>
		</ul>
	</div>
	<div class="bottom">
		<p>
			TODO: Signature 
			<a href="/" target="_blank">
				TODO: Signature link
			</a>
		</p>
	</div>
	<div class="clearfix"> </div>
</div>