@using Pintle.Foundation.SitecoreExtensions.Extensions
@model XwrapDemo.Project.Website.Models.FooterViewModel

<div class="container">
	<div class="footer-nav">
		<ul>
			<li>
				@foreach (var nav in Model.Navigation)
				{
					<a href="@nav.GenerateUrl()">
						@nav.NavigationTitle
					</a>
				}
				
			</li>
			<div class="clearfix"> </div>
		</ul>
	</div>
	<div class="bottom">
		<p>
			@Model.RenderingItem.FooterSignature 
			@Model.RenderingItem.FooterLink
		</p>
	</div>
	<div class="clearfix"> </div>
</div>