@using Sitecore.Mvc
@model Xwrap.Mvc.IViewModel<XwrapDemo.Project.Website.SitecoreTemplates.HeaderItem>
<div class="container">
	<div class="logo">
		<a href="/">
			@Model.RenderingItem.HeaderLogo
		</a>
	</div>
	@Html.Sitecore().Placeholder("main-navigation")
</div>