<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore>
		<sites>
			<site name="xwrap_demo" patch:before="site[@name='website']" inherits="website"
			      hostName="sc910.sc"
			      rootPath="/sitecore/content/xWrap demo"
			      startItem="/home"/>
		</sites>
	  <events>
		  <event name="publish:end">
			  <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
				  <sites hint="list">
					  <site description="xwrap_demo">xwrap_demo</site>
				  </sites>
			  </handler>
		  </event>
		  <event name="publish:end:remote" role:require="ContentDelivery">
			  <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
				  <sites hint="list">
					  <site description="xwrap_demo">xwrap_demo</site>
				  </sites>
			  </handler>
		  </event>
	  </events>
  </sitecore>
</configuration>
