@model dynamic

<div class="head-nav">
	<span class="menu"> </span>
	<ul>
		<li>
			<a href="/">TODO: Main navigation</a>
		</li>
		<div class="clearfix"> </div>
	</ul>
</div>
<div class="clearfix"> </div>
<!-- script-for-nav -->
<script>
	$("span.menu").click(function() {
		$(".head-nav ul").slideToggle(300, function() {
			// Animation complete.
		});
	});
</script>
<!-- script-for-nav -->

