<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration 
					name="Pintle.Feature.PageContent" 
					description="Pintle.Feature.PageContent templates and renderings" 
					dependencies="*Foundation.*"
				>
          <targetDataStore
            physicalRootPath="$(featureFolder)\PageContent\$(configurationFolder)"
            useDataCache="false"
            type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
            singleInstance="true"
          />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Feature/PageContent"/>
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/PageContent"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
